/* General Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(49, 99, 139, 0.965);

}
.container {
    position: relative;
    background:transparent;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.8);
}

.container .chat-box {
    position: relative;
    flex: 80%;  
    background: url(4689.jpg);
    background-size: 30%;
    opacity: 0.65;
}

.container .side-bar {
    position: relative;
    flex: 20%;
    background:rgba(204, 227, 246, 0.965)
}

/* Messages in chat */

.chat-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
}

.message-user  p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 10px;
    background: rgba(50, 155, 241, 0.965);
    border-radius: 12px;
    font-size: 0.9em;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

.message-user {
    justify-content: flex-end;
}

.message-bot  p {
    position: relative;
    left: 0;
    text-align: left;
    max-width: 65%;
    padding: 10px;
    background: rgba(121, 217, 158, 0.965);
    border-radius: 12px;
    font-size: 0.9em;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

/* /* add speech bit to messages with pseudo element, does not work in Chrome?! */

.message-user p::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    background: linear-gradient(45deg,  rgba(50, 155, 241, 0.965) 50%,#fdfde2 50%, transparent 50%, transparent);
    display: block;
    width: 20px;
    height: 20px;
}

.message-bot p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    background: linear-gradient(-45deg,  rgba(121, 217, 158, 0.965) 50%,#fdfde2 50%, transparent 50%, transparent);
    display: block;
    width: 20px;
    height: 20px;
}

/* Chat Input */

.chat-input-container {

   position: absolute;
   align-items:center;
   bottom:0;
   width: 100%;
   height:40px;
   display:flex;
   justify-content:space-between;
   background: transparent;
}

.chat-input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: -35px;
    margin-right: 100px;
    margin-bottom: 20px;  
}