/* General Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(2, 98, 171);
}

.container {
    position: relative;
    display: flex;
    width: 1500px;
    max-width: 100%;
    height: 95vh;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.8);  
}

/* side bar */

.side-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex: 15%;
    background: rgb(86, 182, 255);
    border-right: solid 1px rgba(189, 187, 187, 0.965)
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
    color:mintcream;
}

.logo {
    height: 150px;
    width: 150px;
}

/* chat selection */

.chats-select-container {
    width: 100%;
}

.individual-chat-container {
    display: flex;
    justify-content:flex-start;
    height: 75px;
    width: 100%;
    margin-right:20px;
    margin-left: 10px;
}

.individual-chat-container p {
    color:darkslategray;
}

.chats-select-container :hover {
    background: rgb(10, 126, 221); 
}

.last-seen {
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
    overflow: hidden;
    font-size: 0.9em;
    background: none;
}

.bot-icon {
    height: 75px;
    width: 75px;
    background: none;
}

/* Chat box messages */

.chat-header {
    position: absolute;
    top: 0px;
    height: 40px;
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 5px;
    display: flex;
    justify-content:flex-start;
    background: rgba(244, 244, 244, 0.965);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.8);
}

.chat-header p {
    font-size: 0.6em;
    color:darkslategray;  
}

.header-text-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 2px;
}

.header-icon {
    margin-left: 20px;
}

.chat-box {
    display: flex;
    position: relative;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    flex: 85%; 
    background: url(background.jpg);
    background-size: 30%;  
    width: -moz-available;
    width: -webkit-fill-available;
    height: 100%;
    padding-bottom: 40px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chats-content {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.message-user  p {
    position: relative;
    right: 0;
    text-align: left;
    max-width: 65%;
    padding: 10px;
    background: rgba(57, 166, 255, 0.965);
    border-radius: 12px;
    font-size: 0.9em;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

.message-user {
    justify-content: flex-end;
}

.message-bot  p {
    position: relative;
    left: 0;
    text-align: left;
    max-width: 65%;
    padding: 10px;
    background: rgba(121, 217, 158, 0.965);
    border-radius: 12px;
    font-size: 0.9em;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

/* /* add speech bit to messages with pseudo element !! This I basically copied from a youtube tutorial after hours of trying on my own! */

.message-user p::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    background: linear-gradient(45deg,  rgba(57, 166, 255, 0.965) 50%,#fdfde2 50%, transparent 50%, transparent);
    display: block;
    width: 20px;
    height: 20px;
}

.message-bot p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    background: linear-gradient(-45deg,  rgba(121, 217, 158, 0.965) 50%,#fdfde2 50%, transparent 50%, transparent);
    display: block;
    width: 20px;
    height: 20px;
}

.tag {
    text-align: end;
    font-size: 0.6em;
    color:darkslategray;
}

.chat-icon {
    height: 30px;
    width: 30px;
    bottom: 0;
}

.chat-icon-container {
    margin: 10px;
    margin-bottom: 0;
}

/* Chat Input */

.chat-input-container {
   position: absolute;
   bottom: 0px;
   height: 40px;
   width: -moz-available;
   width: -webkit-fill-available;
   display: flex;
   background: rgba(244, 244, 244, 0.965); 
}

.chat-input {
    outline: none;
    width: 1255px;
    height: 100%;
    border:0;
    outline:0;   
}

.icon-container {
    max-height: 40px;
    max-width: 40px;
    background: #ffffff;
    margin: 10px;
    opacity: 100;
    
}
.icon {
   height: 20px;
   width: 20px;
}