.chat-box {
    display: flex;
    position: relative;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    flex: 85%; 
    background: url(../../assets/background.jpg);
    background-size: 30%;  
    width: -moz-available;
    width: -webkit-fill-available;
    height: 100%;
    padding-bottom: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chats-content {
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
