.chat-box {
    display: flex;
    position: relative;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    flex: 85%; 
    background: url(../../assets/background.jpg);
    background-size: 30%;  
    width: -moz-available;
    width: -webkit-fill-available;
    height: 100%;
    padding-bottom: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chats-content {
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.message-user  p {
    position: relative;
    right: 0;
    text-align: left;
    max-width: 65%;
    padding: 10px;
    background: rgba(57, 166, 255, 0.965);
    border-radius: 12px;
    font-size: 0.9em;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

.message-user {
    justify-content: flex-end;
}

.message-bot  p {
    position: relative;
    left: 0;
    text-align: left;
    max-width: 65%;
    padding: 10px;
    background: rgba(121, 217, 158, 0.965);
    border-radius: 12px;
    font-size: 0.9em;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

/* /* add speech bit to messages with pseudo element !! This I basically copied from a youtube tutorial after hours of trying on my own! */

.message-user p::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    background: linear-gradient(45deg,  rgba(57, 166, 255, 0.965) 50%,#fdfde2 50%, transparent 50%, transparent);
    display: block;
    width: 20px;
    height: 20px;
}

.message-bot p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    background: linear-gradient(-45deg,  rgba(121, 217, 158, 0.965) 50%,#fdfde2 50%, transparent 50%, transparent);
    display: block;
    width: 20px;
    height: 20px;
}

.tag {
    text-align: end;
    font-size: 0.6em;
    color:darkslategray;
}

.chat-icon {
    height: 30px;
    width: 30px;
    bottom: 0;
}

.chat-icon-container {
    margin: 10px;
    margin-bottom: 0;
}