<p>side-bar works!</p>
<div class="side-bar">
    <div class="header">
        <h1>SimpleChat</h1>
        <br>
        <img class="logo" src="static/chaticon.png">
        <div class="subheading">
            <br>
            <strong>Choose Your Bot!</strong>
        </div>
    </div>
    <!--chat bot selection-->                
    <div class="chats-select-container">
        <div type="button" class="individual-chat-container" id="friendly-bot">
            <img src="static/android.png" class="bot-icon">
            <div class="last-seen">
                <strong>Friendly</strong>
                <p>last seen recently</p>
            </div>
        </div> 
        <div class="individual-chat-container" id="unfriendly-bot">    
            <img src="static/bad.png" class="bot-icon">
            <div class="last-seen">
                <strong>Rude</strong>
                <p>last seen recently</p>
            </div>
        </div>
        <div class="individual-chat-container" id="kid-bot">   
            <img src="static/annoying.png" class="bot-icon">
            <div class="last-seen">
                <strong>Annoying Kid</strong>
                <p>last seen recently</p>
            </div>
        </div>                     
    </div>                   
</div>