
.chat-header {
    position: absolute;
    justify-content: space-between;
    top: 0px;
    height: 10%;
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 5px;
    display: flex;
    background: linear-gradient(var(--light-blue), var(--blue));
    box-shadow: 0px 0px 1px rgba(0,0,0,0.8);
    z-index: 10;
    border-style: none;
}

.current-bot-container{
    display: flex;
    max-height: 100%;
}

.chat-header p {
    font-size: 0.6em;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 2px;
}

.header-icon {
    margin-left: 20px;
}